// footer

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--second-background-color);
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }

  &-container {
    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: baseline;
      justify-content: center;
    }
  }
}

.footer__nav {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    padding-left: 76px;
    padding-right: 89px;
    justify-content: space-between;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    padding: 0;
  }
}

.logo__text--second-color {
  color: var(--primary-white-color);
}

.address {
  margin-top: 28px;
  font-style: normal;

  &__item:not(last-item) {
    margin-top: 12px;
    @media screen and (min-width: 1200px) {
      margin-top: 9px;
    }
  }

  &__map {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
  }
  &__link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
  }
}

.netwotks {
  margin-top: 60px;
  @media screen and (min-width: 768px) {
    margin-top: 0;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 94px;
  }

  &__text {
    margin-bottom: 20px;

    @include text;
    font-weight: 700;
  }
}

.social__link--color {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-white-color);

  transition: background-color 250ms var(--animation-function);
}

/* footer-newsletter */
.footer-newsletter {
  @media screen and (min-width: 1200px) {
    margin-left: 94px;
  }
}
.newsletter__text {
  @include text;
  margin-bottom: 20px;
  font-weight: 700;
}

.newsletter-form {
  @media screen and (min-width: 1200px) {
    @include centredFlex;
  }
  &__input {
    padding: 0;
    padding-left: 16px;
    width: 100%;
    height: 50px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    @media screen and (min-width: 768px) {
      width: 450px;
    }

    @media screen and (min-width: 1200px) {
      width: 338px;
    }

    transition: border 250ms var(--animation-function) box-shadow 250ms
      var(--animation-function);
  }

  &__input:hover,
  &__input:focus-within {
    border: 1px solid rgba(33, 150, 243, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.newsletter__btn {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 28px;
  cursor: pointer;

  @media screen and (min-width: 1200px) {
    margin-top: 0;
    margin-right: 0;
    margin-left: 12px;
  }
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: box-shadow 250ms var(--animation-function);
}

.button__icon {
  margin-left: 10px;
  fill: var(--primary-white-color);
}
