/* header */

.header {
  border-bottom: 1px solid #ececec;

  &__container {
    @include centredFlex;
  }
  // &__group {
  //   margin-left: auto;
  // }
}

/* navigation */
// .nav {
//   @include centredFlex;

//   &__list {
//     display: flex;
//     margin-left: 83px;
//   }

//   &__item:not(last-child) {
//     margin-left: 50px;
//   }
// }

// .nav__link {
//   position: relative;
//   display: block;
//   padding-top: 32px;
//   padding-bottom: 32px;

//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   color: var(--title-text-color);

//   &--current::after {
//     position: absolute;
//     content: '';
//     display: block;
//     width: 100%;
//     height: 4px;
//     border-radius: 2px;
//     background-color: var(--accent-color);
//     bottom: -1px;
//   }

//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }

//   &--current {
//     color: var(--accent-color);
//   }
// }

// /* стилізуєм лого */

.logo__text {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo__text--first-color {
  color: #000000;
}

// .group {
//   @include centredFlex;

//   &__item:not(last-child) {
//     margin-left: 50px;
//   }

//   &__icon {
//     margin-right: 10px;
//     fill: currentColor;
//   }
// }
// .group__link {
//   @include centredFlex;
//   padding-top: 32px;
//   padding-bottom: 32px;

//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   color: var(--primary-text-color);

//   transition: color 250ms var(--animation-function);

//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }
// }

/* end header */
