:root {
  // text
  --text-primary: 'Roboto', sans-serif;
  --text-second: 'Raleway', sans-serif;
  --primary-text-color: #757575;
  --second-text-color: rgba(255, 255, 255, 0.6);
  --title-text-color: #212121;

  // button
  --button-bg-color: #f5f4fa;
  --button-hover-color: #188ce8;

  // background
  --accent-color: #2196f3;

  --primary-white-color: #ffffff;
  --second-background-color: #2f303a;

  // icvon
  --icon-color: #afb1b8;

  // animation
  --animation-function: cubic-bezier(0.4, 0, 0.2, 1);
}
